html, body {
    background-color: #ebebeb !important;
  }

.search-input::placeholder:: {
    color: rgba(235, 235, 235, 0.5);
}

.button {
  display: flex;
  justify-content: center;
  background-color: transparent; 
  border: none;
  color: transparent;
  padding: 16px 32px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 10px;
  height: auto;
}

.button:hover {
  background-color: rgba(64, 107, 131);
}

