

/* Adjust the column width as needed */
th {
  width: 0%; /* You can adjust the width as needed */
}

td {
  width: 0%; /* You can adjust the width as needed */
}

@media (max-width: 200px) {
    .progress-abbreviate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 3em;
    }
  }
  