@media screen and (max-width: 2000px) {

  .col {
    width: 62.5rem;
  }
}

@media screen and (max-width: 1130px) {

  .col {
    width: 50rem;
  }
}

@media screen and (max-width: 880px) {

  .col {
    width: 40rem;
  }
}

@media screen and (max-width: 810px) {

  .col {
    width: 30rem;
  }
}

@media screen and (max-width: 450px) {

  .hidden-card{
    display: none;
  }
}