@media screen and (max-width: 2000px) {

  .col {
    width: 62.5rem;
  }
}

@media screen and (max-width: 1130px) {

  .col {
    width: 50rem;
  }
}

@media screen and (max-width: 880px) {

  .col {
    width: 40rem;
  }
}

@media screen and (max-width: 640px) {

  .col {
    width: 30rem;
  }
}

@media screen and (max-width: 482px) {

  .col {
    width: 25rem;
  }
}

@media screen and (max-width: 395px) {

  .col {
    width: 23rem;
  }
}

.text-center2{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  opacity: 50%;
}