.login-heading{
    text-align: center;
    font-size: 1.25rem;
}

.logo{
  width: 150px;
  height: auto;
  max-width: 100%;
	top:0; 
	left:0; 
    }

.color{
    color: #2E5266;
}

.top-left-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


