.text-dark-black{
    color:rgb(61, 61, 61);
}

.subheader{
    font-size: 0.8rem;
}

.margin-span{
    margin-left: 2rem;
}

.font-bold {
    font-weight: bold;
  }

.blue-its{
    background-color: #2e5266;
}

.list-group-item.active{
    background-color: #018195;
}